---
services:
  app72:
    build:
      context: .
      args:
        PHP_TAG: "7.2-cli-buster"
    environment:
      PHP_IDE_CONFIG: 'serverName=icanboogie-inflector'
      PHPUNIT_VERSION: "08"
    volumes: &vol
    - .:/app:delegated
    - ~/.composer:/root/.composer:delegated
    working_dir: /app
  app84:
    build:
      context: .
      args:
        PHP_TAG: "8.4-cli-bookworm"
    environment:
      PHP_IDE_CONFIG: 'serverName=icanboogie-inflector'
      PHPUNIT_VERSION: "11"
    volumes: *vol
    working_dir: /app
