<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
	colors="true"
	bootstrap="./tests/bootstrap.php"
>
	<testsuites>
		<testsuite name="icanboogie/inflector">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./lib</directory>
		</whitelist>
	</filter>
</phpunit>
