name: code-style

on:
- push
- pull_request

jobs:
  phpcs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install PHP
      uses: shivammathur/setup-php@v2
      with:
        coverage: none
        php-version: "8.4"
        ini-values: memory_limit=-1
        tools: phpcs, cs2pr
    - name: Run PHP Code Sniffer
      run: phpcs -q --report=checkstyle | cs2pr
